pipeline/pip-update.json
{
	"name": "pip-update",
	"properties": {
		"activities": [
			{
				"name": "get-tabelas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_NAME\n\nFROM\n  \tINFORMATION_SCHEMA.TABLES\n\nWHERE TABLE_SCHEMA = '@{pipeline().parameters.schema_par}' and TABLE_TYPE = 'BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_gen",
						"type": "DatasetReference",
						"parameters": {
							"ds_name_table": "Product",
							"ds_schema_table": "SalesLT"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-tabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "list_table",
					"value": [
						"Customer",
						"Address"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get-tabelas').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(variables('list_table'), item().table_name)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute Pipeline1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pip_cd_sql_to_adsql",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"schema_par": {
													"value": "@pipeline().parameters.schema_par",
													"type": "Expression"
												},
												"table_name_par": {
													"value": "@item().table_name",
													"type": "Expression"
												},
												"container_par": {
													"value": "@pipeline().parameters.container_par",
													"type": "Expression"
												},
												"directory_par": {
													"value": "@concat(pipeline().parameters.directory_par, item().table_name)",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema_par": {
				"type": "string",
				"defaultValue": "SalesLT"
			},
			"directory_par": {
				"type": "string",
				"defaultValue": "Adventureworks/Incremental/"
			},
			"container_par": {
				"type": "string",
				"defaultValue": "landing"
			}
		},
		"variables": {
			"list_table": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}